.cube1 {
  position: absolute;
  top: 50vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  /* border: solid 0.1px #9900CC; */
  border-radius: 40%  / 40%;
  box-shadow: 
      0 0 10px rgba(255, 0, 0, 0.5),
      0 10px 20px rgba(0, 255, 0, 0.5),
      0 20px 40px rgba(0, 0, 255, 0.5);
  /* transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%); */
  -webkit-animation: cube1 12s ease-in backwards infinite;
          animation: cube1 12s ease-in backwards infinite;
}
.cube1:nth-child(2n) {
  border-color: #9933CC;
}
.cube1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
          
  left: 15vw;
  top: 20vh;
}
.cube1:nth-child(5) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
          
  left: 55vw;
  top: 80vh;
}
.cube1:nth-child(8) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
          
  left: 70vw;
  top: 5vh;
}

.cube1:nth-child(11) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
          
  left: 10vw;
  top: 65vh;
}
.cube1:nth-child(14) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 80vw;
  top: 30vh;
}

@-webkit-keyframes cube1 {
  from {
    /* transform: scale(0) rotate(0deg) translate(-50%, -50%); */
    opacity: 1;
  }
  to {
    /* transform: scale(20) rotate(960deg) translate(-50%, -50%); */
    opacity: 0;
  }
}

@keyframes cube1 {
  from {
    /* transform: scale(0) rotate(0deg) translate(-50%, -50%); */
    opacity: 1;
  }
  to {
    /* transform: scale(20) rotate(960deg) translate(-50%, -50%); */
    opacity: 0;
  }
}


.cube2 {
  width: 30px;
  height: 30px;
  /* background: gold; */
  /* border: solid 0.1px #9900CC; */
  
  box-shadow: 
  0 0 10px rgba(255, 0, 0, 0.5),
  0 10px 20px rgba(0, 255, 0, 0.5),
  0 20px 40px rgba(0, 0, 255, 0.5);
  position: absolute;
  transform-origin: top left;
  /* transform: rotateZ(90deg); */
  /* transform: scale(0) rotate(0deg) translate(-30%, -30%); */
  -webkit-animation: cube2 12s ease-in backwards infinite;
          animation: cube2 12s ease-in backwards infinite;
}
/* .cube2:nth-child(2n) {
  border-color: #9933CC;
} */
.cube2:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube2:nth-child(6) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube2:nth-child(9) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube2:nth-child(12) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube2:nth-child(15) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
.cube2:nth-child(19) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 80vw;
  top: 90vh;
}

@-webkit-keyframes cube2 {
  from {
      /* transform: scale(0) rotate(0deg) translate(-50%, -50%); */
      opacity: 1;
  }
  to {
      /* transform: scale(20) rotate(960deg) translate(-50%, -50%); */
      opacity: 0;
  }
}

@keyframes cube2 {
  from {
      /* transform: scale(0) rotate(0deg) translate(-50%, -50%); */
      opacity: 1;
  }
  to {
      /* transform: scale(20) rotate(960deg) translate(-50%, -50%); */
      opacity: 0;
  }
}


